
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: black;
    background: #fff linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}


.error {
    color: red;
}